/static/Licenses
/AgentMap/migrations/0007_drugs_medicalconditions_medicaresupplementagencies_and_more.py
/AgentMap/migrations/0008_alter_acceptancerules_options_alter_drugs_options_and_more.py
/AgentMap/migrations/0009_medicaresupplementagencies_abbreviation.py
/AgentMap/migrations/0010_alter_medicaresupplementagencies_abbreviation.py
/AgentMap/migrations/0011_remove_form_full_company_alter_form_company.py
/AgentMap/migrations/0012_medicaresupplementagencies_eapp_url.py
/AgentMap/migrations/0013_rename_eapp_url_medicaresupplementagencies_app_url.py
/AgentMap/migrations/0014_remove_medicaresupplementagencies_app_url_and_more.py
/AgentMap/migrations/0015_remove_form_full_company_and_more.py
/AgentMap/migrations/0016_alter_medicaresupplementagencies_app_url.py
/AgentMap/migrations/0017_formtypes.py
/AgentMap/migrations/0018_remove_form_full_form_type_alter_form_form_type.py
/AgentMap/migrations/0019_state_remove_licensedstate_color.py
/AgentMap/migrations/0020_rename_state_state_state_code_alter_form_state.py
/AgentMap/migrations/0021_alter_state_state_code.py
/AgentMap/migrations/0022_rename_form_type_form_form.py
/AgentMap/migrations/0023_rename_form_form_form_info.py
/AgentMap/migrations/0024_alter_licensedstate_state.py
/AgentMap/migrations/0025_householddiscountkey_householddiscounts.py
/AgentMap/migrations/0026_alter_householddiscountkey_options_and_more.py
/AgentMap/migrations/0027_remove_householddiscountkey_company_and_more.py
/AgentMap/migrations/0028_householddiscountkey_description.py
/AgentMap/migrations/0029_rename_company_householddiscounts_agency.py
