<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
    <style>
        .line {
            fill: none;
            stroke-width: 2px;
        }

        .axis-label {
            font-size: 12px;
        }

        .title {
            font-size: 16px;
            font-weight: bold;
        }

        #chart-container {
            display: flex;
            flex-direction: row;
            height: 80vh;
        }

        #options-container {
            display: flex;
            flex-wrap: wrap;
            width: 35%;
            height: 80%;
        }

        #options-container > div {
            flex: 1 1 50%;
            box-sizing: border-box;
            width: 50%;
            height: 60%;
            padding: 5px;
            border: 2px solid oklch(0% 0 0);
        }

        .selections {
            max-height: 75%;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
        }

        .selections label {
            flex: 1 1 50%;
            box-sizing: border-box;
        }

        .tooltip {
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            padding: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.2s;
        }

        .stream {
            opacity: 0.8;
        }

        .stream:hover {
            opacity: 1;
        }

        .axis-label {
            font-size: 1.5em;
            fill: black;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
</head>
<body>

<div id="chart-container" class="container">
    <svg id="chart"></svg>
    <div id="options-container" class="container">
        <div id="agent-selection-container" class="container">
            <h3>Agents:</h3>
                <button id="select-all-agents">Select All</button>
                <button id="clear-agents">Clear Selections</button>
            <div id="agent-selections" class="selections">
                {% for agent in agents %}
                <label>
                    <input type="checkbox" value="{{ agent.user }}" checked> {{ agent.user }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div id="states-selection-container" class="container">
            <h3>States:</h3>
                <button id="select-all-periods">Select All</button>
                <button id="clear-periods">Clear Selections</button>
            <div id="states-selections" class="selections">
                {% for state in states %}
                    <label>
                        <input type="checkbox" name="state" value="{{ state }}" checked> {{ state }}
                        </label>
                {% endfor %}
            </div>
        </div>
        <div id="product-type-selection-container" class="container">
            <h3>Product Types:</h3>
                <button id="select-all-periods">Select All</button>
                <button id="clear-periods">Clear Selections</button>
            <div id="product-type-selections" class="selections">
                {% for product_type in product_types %}
                <label>
                    <input type="checkbox" value="{{ product_type }}" checked> {{ product_type }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div id="period-selection-container" class="container">
            <h3>Periods:</h3>
            <div id="period-selections" class="selections">
                <label>
                    <input type="radio" name="period" value="1" checked> 1 Hour
                </label>
                <label>
                    <input type="radio" name="period" value="24"> 1 Day
                </label>
                <label>
                    <input type="radio" name="period" value="168"> 1 Week
                </label>
                <label>
                    <input type="radio" name="period" value="696"> 1 Month
                </label>
                <label>
                    <input type="radio" name="period" value="2016"> 3 Months
                </label>
                <label>
                    <input type="radio" name="period" value="8064"> 12 Months
                </label>
            </div>
        </div>
    </div>
</div>
<div class="tooltip" id="tooltip"></div>
<script>
    let datasets = [];

    document.querySelectorAll('#options-container > div').forEach(container => {
        const selectAllButton = container.querySelector('button[id^="select-all"]');
        const clearButton = container.querySelector('button[id^="clear"]');
        const checkboxes = container.querySelectorAll('input[type="checkbox"]');

        if (selectAllButton) {
            selectAllButton.addEventListener('click', () => {
                checkboxes.forEach(checkbox => checkbox.checked = true);
                updateChart();
            });
        }

        if (clearButton) {
            clearButton.addEventListener('click', () => {
                checkboxes.forEach(checkbox => checkbox.checked = false);
                updateChart();
            });
        }
    });

    function getSelectedPeriod() {
        const selectedPeriod = document.querySelector('#period-selections input[name="period"]:checked').value;
        return selectedPeriod;
    }

    // Color scale for the datasets
    const colorScale = d3.scaleOrdinal()
        .range([
            'oklch(54.92% 0.1238 244.6)',
            'oklch(73.07% 0.1851 51.88)',
            'oklch(59.58% 0.1345 306.9)'
        ]);

    // Assign colors to datasets using the color scale
    datasets.forEach((dataset, i) => {
        dataset.color = colorScale(i);
    });

    // Set up dimensions
    const container = d3.select("#chart-container");
    const containerWidth = container.node().getBoundingClientRect().width;
    const containerHeight = container.node().getBoundingClientRect().height;
    const chartWidth = containerWidth * .65;
    const margin = {top: 40, right: 120, bottom: 50, left: 50};
    const width = chartWidth - margin.left - margin.right;
    const height = containerHeight - margin.top - margin.bottom;

    // Create SVG container
    const svg = d3.select("#chart")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", `translate(${margin.left},${margin.top})`);

    // Set up scales
    const x = d3.scaleTime().range([0, width]);
    const y = d3.scaleLinear().range([height, 0]).nice();

    // Set up line generator
    const line = d3.line()
        .x(d => x(d.date))
        .y((d, i) => y(i + 1))
        .curve(d3.curveMonotoneX);

    // function to fetch the data from the server
    async function fetchData() {
        const selectedAgents = Array.from(document.querySelectorAll('#agent-selections input:checked')).map(input => input.value);
        const selectedProductTypes = Array.from(document.querySelectorAll('#product-type-selections input:checked')).map(input => input.value);
        const selectedPeriod = document.querySelector('#period-selections input[name="period"]:checked').value;

        const response = await fetch(`/get_filtered_data?agents=${selectedAgents.join(',')}&product_types=${selectedProductTypes.join(',')}&period=${selectedPeriod}`);
        return await response.json();
    }

    // Function to update the chart based on selected options
    async function updateChart() {
        const response = await fetchData(); // Fetch and update datasets
        console.log('response: ', response);
        datasets = response.datasets;
        console.log('datasets: ', datasets);

        // Parse dates for all datasets
        const parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");
        datasets.forEach(dataset => {
            dataset.activity.forEach(d => {
                d.date = parseTime(d.date);
                if (isNaN(d.date)) {
                    console.error("Invalid date:", d.date);
                }
            });
            dataset.activity.sort((a, b) => a.date - b.date);
        });

        // Assign colors to datasets using the color scale
        datasets.forEach((dataset, i) => {
            dataset.color = colorScale(i);
        });

        const x = d3.scaleTime()
            .domain([
                // the min value should be the current time minus the selected period
                d3.timeHour.offset(new Date(), -getSelectedPeriod()),
                new Date()
            ])
            .range([0, width]);

        const y = d3.scaleLinear()
            .domain([0, d3.max(datasets, dataset => dataset.activity.length)])
            .range([height, 0])
            .nice();

        const line = d3.line()
            .x(d => x(d.date))
            .y((d, i) => y(i + 1))
            .curve(d3.curveMonotoneX);

        const selectedAgents = Array.from(document.querySelectorAll('#agent-selections input:checked')).map(input => input.value);
        const selectedPeriod = getSelectedPeriod();
        const selectedStates = Array.from(document.querySelectorAll('#states-selections input:checked')).map(input => input.value);
        const selectedProductTypes = Array.from(document.querySelectorAll('#product-type-selections input:checked')).map(input => input.value);
        console.log('selected Period: ', selectedPeriod);

        const filteredDatasets = datasets.map(dataset => {
            const filteredActivity = dataset.activity.filter(activity =>
                selectedAgents.includes(dataset.name) &&
                selectedStates.includes(activity.state || '') &&
                selectedProductTypes.includes(activity.product_type || '')
            );
            console.log('filteredActivity: ', filteredActivity);
            return {
                ...dataset,
                activity: filteredActivity,
            };
        }).filter(dataset => dataset.activity.length > 0);

        const xDomain = [
            // the min value should be the current time minus the selected period
            d3.timeHour.offset(new Date(), -selectedPeriod),
            // the max value should just be the current time
            new Date()
        ];
        x.domain(xDomain);

        console.log('domain range: ', xDomain);
        if (xDomain.some(date => isNaN(date))) {
            console.error("Invalid xDomain:", xDomain);
            return;
        }

        svg.selectAll("*").remove();

        svg.append("text")
            .attr("class", "title")
            .attr("x", width / 2)
            .attr("y", -20)
            .attr("text-anchor", "middle")
            .text("Agent Activity Timeline");

        svg.append("g")
            .attr("transform", `translate(0,${height})`)
            .call(d3.axisBottom(x))
            .append("text")
            .attr("class", "axis-label")
            .attr("x", width / 2)
            .attr("y", 40)
            .attr("text-anchor", "middle")
            .text("Timestamp");

        svg.append("g")
            .call(d3.axisLeft(y))
            .append("text")
            .attr("class", "axis-label")
            .attr("transform", "rotate(-90)")
            .attr("x", -height / 2)
            .attr("y", -40)
            .attr('dy', "1em")
            .attr("text-anchor", "middle")
            .text("Activity Count");

        filteredDatasets.forEach((dataset, i) => {
            svg.append("path")
                .datum(dataset.activity)
                .attr("class", "line")
                .attr("stroke", dataset.color)
                .attr("d", line)
                .transition()
                .duration(1000)
                .attrTween("d", function(d) {
                    const previous = d3.select(this).attr("d");
                    const current = line(d);
                    return d3.interpolate(previous, current);
                });
        });

        filteredDatasets.forEach((dataset, i) => {
            const circles = svg.selectAll(`.dot-${i}`)
                .data(dataset.activity);

            circles.enter().append("circle")
                .attr("class", `dot dot-${i}`)
                .attr("cx", d => x(d.date))
                .attr("cy", (d, i) => y(i + 1))
                .attr("r", 2)
                .attr("fill", dataset.color)
                .on("mouseover", function(event, d) {
                    d3.select(this).attr("r", 6);
                    const tooltip = d3.select("#tooltip");
                    tooltip.transition().duration(200).style("opacity", 1);
                    let tooltipContent = `Action Count: ${datasets[i].activity.indexOf(d) + 1}`;
                    if (d.date) tooltipContent += `<br>Date: ${d3.timeFormat("%Y-%m-%d %H:%M:%S")(d.date)}`;
                    if (d.action) tooltipContent += `<br>Action: ${d.action}`;
                    if (d.product_type) tooltipContent += `<br>Product Type: ${d.product_type}`;
                    if (d.state) tooltipContent += `<br>State: ${d.state}`;
                    if (d.carrier) tooltipContent += `<br>Carrier: ${d.carrier}`;
                    if (d.form_type) tooltipContent += `<br>Form Type: ${d.form_type}`;

                    tooltip.html(tooltipContent)
                        .style("left", (event.pageX + 10) + "px")
                        .style("top", (event.pageY - 28) + "px");
                })
                .on("mousemove", function(event) {
                    d3.select("#tooltip")
                        .style("left", (event.pageX + 10) + "px")
                        .style("top", (event.pageY - 28) + "px");
                })
                .on("mouseout", function() {
                    d3.select(this).attr("r", 4);
                    d3.select("#tooltip").transition().duration(500).style("opacity", 0);
                });

            circles.transition()
                .duration(1000)
                .attr("cx", d => x(d.date))
                .attr("cy", (d, i) => y(i + 1));

            circles.exit().remove();
        });

        const legend = svg.append("g")
            .attr("class", "legend")
            .attr("transform", `translate(${width + 10}, 0)`);

        const legendItems = legend.selectAll(".legend-item")
            .data(filteredDatasets)
            .enter()
            .append("g")
            .attr("class", "legend-item")
            .attr("transform", (d, i) => `translate(0, ${i * 20})`);

        legendItems.append("line")
            .attr("x1", 0)
            .attr("x2", 20)
            .attr("y1", 10)
            .attr("y2", 10)
            .attr("stroke", d => d.color)
            .attr("stroke-width", 2);

        legendItems.append("text")
            .attr("x", 25)
            .attr("y", 10)
            .attr("dy", ".35em")
            .text(d => d.name);
    }

    // Add event listeners to checkboxes and radio buttons
    document.querySelectorAll('#agent-selections input').forEach(input => {
        input.addEventListener('change', updateChart);
    });
    document.querySelectorAll('#period-selections input[name="period"]').forEach(input => {
        input.addEventListener('change', updateChart);
    });
    document.getElementById('states-selections').addEventListener('change', updateChart);
    document.getElementById('product-type-selections').addEventListener('change', updateChart);

    // Render the first frame
    updateChart();
    setInterval(updateChart, 2000);
</script>
</body>
</html>