<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="Company List" content="List of companies found within the selected state">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info-Box</title>
</head>
<style>
</style>
<body>
{% load tz %}
<!-- This is the info-box that will be displayed when the user clicks a state -->
<div id="{{ state }}" class="info-box-contents" style="font-family: lucida sans unicode,serif;">
{% if not forms %}
    <h1 style="margin-top: 1px; margin-bottom: 1px;">There are no forms for {{ state }}</h1>
{% else %}
    <h1 style="margin-top: 1px; margin-bottom: 1px;">
        {{ state }}
        {% if license_number %}
        <span style="font-size: 20px; {% if is_expiring_soon%}color: crimson;{% endif %}">
            - (License Number: {{ license_number }})
            {%  if expiration|date:"Y" != "2099" %}
                - Expires: {{ expiration|date:"m/d/Y" }}
            {% endif %}
        </span>
        {% endif %}
    </h1>
    <h2 style="margin-top: 1px; margin-bottom: 1px;">Medicare Supplements: </h2>
    <!-- groups the forms by full_company and stores them in company_list -->
    {% regroup forms by full_company as company_list %}
    <!-- This is the container for the filtered company forms -->
    <div class="new-company-container">
    <!-- this is the loop that will display the forms for each company -->
    {% for full_company in company_list %}
        <!-- Full Company Name -->
        <div class="new-company" id="{{ full_company.grouper }}" style="border: 2px black solid; border-radius: 12px">
            <h2 style="text-align: center">{{ full_company.grouper }}</h2>
            <!-- This is the button-matrix that will display the forms for the company -->
            <div class="button-matrix">
            {% for form in full_company.list %}
                <div>
                    <!-- This is the button that will open the modal for the form -->
                    <button 
                            id="{{ form.full_form_type }}"
                            style="font-family: 'lucida sans unicode','serif'"
                            _="on click call openModal('{% url 'view_form' form.id %}')"
                            title="{{ full_company.grouper }} {{ form.full_form_type }} {% if form.date != "None" %}{{ form.date }} {% endif %}">
                        <!-- This is the non-abbreviated form type -->
                        {{ form.full_form_type }}
                        {% if form.date != "None" %}
                            {{ form.date }}
                        {% endif %}
                    </button>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div id="Ancillaries" class="Ancillaries-Container" style="font-family: lucida sans unicode,serif; ">
        <h2>Ancillaries: </h2>
    </div>
{% endif %}
</div>
</body>
</html>