<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="Company List" content="List of companies found within the selected state">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info-Box</title>
</head>
<style>
</style>
<body>
<!-- This is the Header for the info-box-container the current implementation should keep it to be on top of the info-box-contents -->
{% if not forms %}
    <h1 style="margin-top: 1px; margin-bottom: 1px;">There are no forms for {{ state }}</h1>
{% else %}
    <h1 style="margin-top: 1px;
               margin-bottom: 1px;
               border-bottom: 3px #000000 solid;
               padding-left: 5px;
    ">
        {{ state }}
        {% if license_number %}
        <span style="font-size: 20px;">
            - (License Number: {{ license_number }})
            {%  if expiration|date:"Y" != "2099" and days_until_expiration > 0 %}
                - Expires: {{ expiration|date:"m/d/Y" }}
            {% endif %}
            {% if days_until_expiration <= 31 and days_until_expiration > 0 %}
                - ({{ days_until_expiration }} days left)
            {% endif %}
            <!-- This is probably not needed since we will be running
             check_expiration.py nightly -->
            {% if days_until_expiration < 0  %}
                - (EXPIRED)
            {% endif %}
        <div id ="health-bar-container"
             class="health-bar-container"
             style="
                position: absolute;
                top: 15px;
                right: 765px;
                height: 20px;
                width: 150px;
                background-color: rgba(100,93,93,0.44);
                border: 3px solid black;
                border-radius: 8px;
             "
             title="{{ days_until_expiration }}/31 days till expiration"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none" style="position: absolute; top: -2px; right: 155px;">
                <path d="M18 2V4M6 2V4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M11.9955 13H12.0045M11.9955 17H12.0045M15.991 13H16M8 13H8.00897M8 17H8.00897" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M3.5 8H20.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" ></path>
                <path d="M2.5 12.2432C2.5 7.88594 2.5 5.70728 3.75212 4.35364C5.00424 3 7.01949 3 11.05 3H12.95C16.9805 3 18.9958 3 20.2479 4.35364C21.5 5.70728 21.5 7.88594 21.5 12.2432V12.7568C21.5 17.1141 21.5 19.2927 20.2479 20.6464C18.9958 22 16.9805 22 12.95 22H11.05C7.01949 22 5.00424 22 3.75212 20.6464C2.5 19.2927 2.5 17.1141 2.5 12.7568V12.2432Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M3 8H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div id="health-bar"
                 class="health-bar"
                 style="
                     height: 100%;
                     border-radius: 5px 9px 9px 5px;
                     padding: 0 0 0 1px
                 "
            >
            </div>
        </div>
        </span>
        {% endif %}
    </h1>
<div id="{{ state }}" class="info-box-contents" style="font-family: lucida sans unicode,serif;">
    <h2 style="margin-top: 1px; margin-bottom: 1px;">Medicare Supplements: </h2>
    <!-- groups the forms by full_company and stores them in company_list -->
    {% regroup forms by full_company as company_list %}
    <!-- This is the container for the filtered company forms -->
    <div class="new-company-container">
    <!-- this is the loop that will display the forms for each company -->
    {% for full_company in company_list %}
        <!-- Full Company Name -->
        <div class="new-company" id="{{ full_company.grouper }}" style="border: 2px black solid; border-radius: 12px">
            <h2 style="text-align: center">
            <!-- This is the link to the company's e-application -->
                {%  for key, value in app_urls.items %}  <!-- This will loop through the app_urls dictionary -->
                    {% if key == full_company.grouper %} <!-- Checks if the key is equal to the company name -->
                        <!-- Link to the company's e-application -->
                    <button onclick="window.open('https://{{ value }}', '_blank')"
                            title="{{ full_company.grouper }} E-Application &#013;{{ value }}"
                            class="company-app-redirect"
                    >
                        {{ full_company.grouper }}  <!-- Displays the company name -->
                    </button>
                    {% endif %}
                {% endfor %}
            </h2>
            <!-- This is the button-matrix that will display the forms for the company -->
            <div class="button-matrix">
            {% for form in full_company.list %}
                <div>
                    <!-- This is the button that will open the modal for the form -->
                    <button 
                            id="{{ form.full_form_type }}"
                            style="font-family: 'lucida sans unicode','serif'"
                            _="on click call openModal('{% url 'view_form' form.id %}')"
                            title="{{ full_company.grouper }}&#013;{{ form.full_form_type }}&#013;{% if form.date != "None" %}{{ form.date }}{% endif %}">
                        <!-- This is the non-abbreviated form type -->
                        {{ form.full_form_type }}
                        {% if form.date != "None" %}
                            {{ form.date }}
                        {% endif %}
                    </button>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- This is for the Ancillaries which is not current implemented -->
    {% if ancillaries %}
    <div id="Ancillaries" class="Ancillaries-Container" style="font-family: lucida sans unicode,serif; ">
        <h2>Ancillaries: </h2>
    </div>
    {% endif %}
{% endif %}
</div>
<!-- this is literally just a hidden div that will store that state's license days till expiration -->
<div id="days-until-expiration" style="display: none;">{{ days_until_expiration }}</div>
</body>
</html>