<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Declinable Drug List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="logout-container">
        {{ user.first_name }} {{ user.last_name }}
        <form id="logout-form" class="logout-button-form" action="{% url 'Logout' %}"
              method="POST" hx-trigger="click" title="Sign Out">
            {% csrf_token %}
            <button type="submit" class="logout-button preload" title="Sign Out">
                <!-- Logout icon from hugeicons.com -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                     color="#000000" fill="none">
                    <path d="M11 3L10.3374 3.23384C7.75867 4.144 6.46928 4.59908 5.73464 5.63742C5 6.67576 5 8.0431 5 10.7778V13.2222C5 15.9569 5 17.3242 5.73464 18.3626C6.46928 19.4009 7.75867 19.856 10.3374 20.7662L11 21"
                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M21 12L11 12M21 12C21 11.2998 19.0057 9.99153 18.5 9.5M21 12C21 12.7002 19.0057 14.0085 18.5 14.5"
                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
        </form>
    </div>
    <h2 style="margin-top: 1px; margin-bottom: 1px;">Declinable Drug Search</h2>
    <!-- Drug Search Form -->
    <form id="drug-search-form" class="drug-search-form" hx-post="add_drug/" hx-trigger="submit" hx-target="#rules-hidden" hx-swap="innerHTML">
    {% csrf_token %}
    <input type="text" id="drug-name" name="drug_name" list="drug-list-autocomplete" required>
    <datalist id="drug-list-autocomplete"></datalist>
    <input type="hidden" id="rules-hidden" class="rules-hidden" name="rules">
        <button type="submit">Add Drug</button>
    <button id="clear-all" title="Clear all drugs" hx-get="clear_drugs/" hx-target="#info-box" hx-trigger="click">
        Clear All
    </button>
</form>
<div class="rules-container">
    <div id="drug-list" class="drug-list">
    </div>
</div>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function deleteDrug(drugName) {
    // Remove the button from the drug list
        let drugButton = document.getElementById(drugName);
        drugButton.parentNode.removeChild(drugButton);

    // Get all new-company divs
        let companyDivs = document.getElementsByClassName('new-company');

        // Loop through each new-company div
    for (let i = 0; i < companyDivs.length; i++) {
        let companyDiv = companyDivs[i];

        // Get all paragraph elements in the new-company div
        let ruleParagraphs = companyDiv.getElementsByTagName('p');

        // Loop through each paragraph
        for (let j = 0; j < ruleParagraphs.length; j++) {
            let ruleParagraph = ruleParagraphs[j];

            // If the paragraph's text starts with the drug name, remove the paragraph
            if (ruleParagraph.textContent.startsWith(drugName)) {
                ruleParagraph.parentNode.removeChild(ruleParagraph);
                j--; // Adjust the index to account for the removed element
            }
        }

        // If the new-company div has no paragraph children left (other than the header), remove the new-company div
        if (companyDiv.getElementsByTagName('p').length === 0) {
            companyDiv.parentNode.removeChild(companyDiv);
            i--; // Adjust the index to account for the removed element
        }
    }

    // Get the rules-hidden input field
        let rulesHiddenInput = document.getElementById('rules-hidden');

        // Parse its value as JSON to get the array of rules
        let rules = rulesHiddenInput.value ? JSON.parse(rulesHiddenInput.value) : [];

        // Filter the array to remove the rules that start with the drug name
        let filteredRules = rules.filter(function (rule) {
            return !rule.startsWith(drugName);
        });

        // Stringify the filtered array and set it as the new value of the rules-hidden input field
    rulesHiddenInput.value = JSON.stringify(filteredRules);

    // Make an AJAX call to the delete_drug endpoint
    $.ajax({
        url: 'delete_drug/',
        type: 'POST',
        data: {
            'drug_name': drugName,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        },
        dataType: 'json',
        success: function (data) {
            console.log('Drug deleted successfully');
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.error("AJAX call failed: " + textStatus + ', ' + errorThrown);
        }
    });
}
     // Function to add a drug
    function addDrug(drugName) {
        $.ajax({
            url: 'add_drug/',
            type: 'POST',
            data: {
                'drug_name': drugName,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function (data) {
                {#console.log('Check if the button already exists')#}
                // Check if the button already exists
                if (document.getElementById(drugName)) {
                    console.log('Button already exists')
                    return;
                }

                {#console.log('Creating new button')#}
                // Create a new button element
                let newButton = document.createElement('button');

                // Set the button's attributes
                newButton.id = drugName;
                newButton.className = 'drug-item';
                newButton.title = 'Delete ' + drugName + ' from list';

                // Set the button's text
                newButton.textContent = drugName;

                // Add an event listener to the button that calls deleteDrug when the button is clicked
                newButton.addEventListener('click', function() {
                    deleteDrug(drugName);
                });

                // Add the new button to the drug list
                document.getElementById('drug-list').appendChild(newButton);

                htmx.onLoad(newButton);

                // Call the groupRulesByCarrier function with the new data
                groupRulesByCarrier(data.matching_rules);
            }
        });
    }

// Function to remove duplicate rules from a company container
function removeDuplicateRules(companyContainer) {
    // Create an empty array to store unique rules
    let uniqueRules = [];

    // Get all the rule paragraphs in the company container
    let ruleParagraphs = companyContainer.getElementsByTagName('p');

    // Loop through each rule paragraph
    for (let i = 0; i < ruleParagraphs.length; i++) {
        // If the rule is not in the unique rules array, add it
        if (!uniqueRules.includes(ruleParagraphs[i].textContent)) {
            uniqueRules.push(ruleParagraphs[i].textContent);
        } else {
            // If the rule is already in the unique rules array, remove it
            companyContainer.removeChild(ruleParagraphs[i]);
            i--; // Adjust the index to account for the removed element
        }
    }
}

// Function to group rules by carrier
function groupRulesByCarrier(matching_rules) {
    // Create an empty object to store the grouped rules
    let groupedRules = {};

    // Loop through each rule
    matching_rules.forEach(function(rule) {
        // If the carrier name is not a key in the object, add it with an empty array as the value
        if (!groupedRules[rule.carrier_name]) {
            groupedRules[rule.carrier_name] = [];
        }

        // Push the rule into the array associated with the carrier name
        groupedRules[rule.carrier_name].push(rule);
    });

    // Get the info-box element
    let infoBox = document.getElementById('info-box');

    // Check if the info-box-contents already exists
    let infoBoxContents = document.getElementById('info-box-contents');

    // If the info-box-contents does not exist, create it
    if (!infoBoxContents) {
        infoBoxContents = document.createElement('div');
        infoBoxContents.id = 'info-box-contents';
        infoBoxContents.className = 'info-box-contents';
        infoBoxContents.style = 'height: 78%; overflow: auto;'

        // Add the info box contents to the info-box
        infoBox.appendChild(infoBoxContents);
    }

    // Check if the new-company-container already exists
    let companyContainerParent = document.getElementById('new-company-container');

    // If the new-company-container does not exist, create it
    if (!companyContainerParent) {
        companyContainerParent = document.createElement('div');
        companyContainerParent.id = 'new-company-container';
        companyContainerParent.className = 'new-company-container';

        // Add the new company container parent to the info box contents
        infoBoxContents.appendChild(companyContainerParent);
    }

    // Loop through each carrier in the grouped rules
    for (let carrier in groupedRules) {
        // Check if the company container already exists
        let companyContainer = document.getElementById(carrier);

        // If the company container does not exist, create it
        if (!companyContainer) {
            companyContainer = document.createElement('div');
            companyContainer.className = 'new-company';
            companyContainer.id = carrier;
            companyContainer.style = 'border: 2px black solid; border-radius: 12px; overflow: auto; background: oklch(92% 0 0)';

            // Create the carrier name header
            let carrierNameHeader = document.createElement('h3');
            carrierNameHeader.textContent = carrier;

            // Add the carrier name header to the company container
            companyContainer.appendChild(carrierNameHeader);

            // Add the company container to the new company container parent
            companyContainerParent.appendChild(companyContainer);
        }

        // Loop through each rule for this carrier
        groupedRules[carrier].forEach(function(rule) {
            // Create the rule paragraph
            let ruleParagraph = document.createElement('p');
            ruleParagraph.textContent = rule.drug_name + ' - ' + rule.condition_name + ' - ' + rule.is_accepted;
            // Lets make the text red if the rule is declined and green if it is accepted
            if (rule.is_accepted === 'Declined') {
                ruleParagraph.style.color = 'oklch(59.5% 0.1848 21.9)';
            } else {
                ruleParagraph.style.color = 'oklch(74.41% 0.1667 146.88)';
            }

            // Add the rule paragraph to the company container
            companyContainer.appendChild(ruleParagraph);
        });

        // Call removeDuplicateRules for the company container
        removeDuplicateRules(companyContainer);
    }
}

document.getElementById('drug-name').addEventListener('input', function() {
    var input = this.value;
    if (input.length < 2) return;  // Don't make a request for too short input

    fetch('/get_drug_names/?drug_name=' + input)
        .then(response => response.json())
        .then(data => {
            var dataList = document.getElementById('drug-list-autocomplete');
            dataList.innerHTML = '';  // Clear the previous options

            // Create a new option element for each drug name and append it to the datalist
            data.forEach(drugName => {
                var option = document.createElement('option');
                option.value = drugName;
                dataList.appendChild(option);
            });
        });
});

    // Event listener for the drug search form
    document.getElementById('drug-search-form').addEventListener('submit', function(event) {
        event.preventDefault();

        // Get the drug name from the input field
        let drugName = event.target.elements['drug_name'].value;

        // Call the addDrug function
        addDrug(drugName);
    });
</script>
</body>
</html>